<div class="row-content am-cf">
    <div class="widget am-cf">
        <div class="widget-body">
            <div class="tpl-page-state">
                <div class="tpl-page-state-title am-text-center tpl-error-title">404</div>
                <div class="tpl-error-title-info">Page Not Found</div>
                <div class="tpl-page-state-content tpl-error-content">

                    <p>页面未找到</p>
                    <button type="button" class="am-btn am-btn-secondary am-radius tpl-error-btn" onclick="window.location.href='../main/{{ page.username }}'">Back Home</button></div>

            </div>
        </div>
    </div>



</div>
<script src="../static/js/amazeui.min.js"></script>
<script src="../static/js/amazeui.datatables.min.js"></script>
<script src="../static/js/dataTables.responsive.min.js"></script>
<script src="../static/js/app.js"></script>
